// Define variables for your color scheme

// For example:



$red: #FD1015;
$blue: #3A5BA0;
$yellow: #FFC65A;
$orange: #EC994B;
$green: #7DCFB6;
$gray: #73777B;
$light-gray: #F4F4F4;


$dark-blue: #15133C;
$off-white: #F1EEE9;
$white: #ffffff;
