// Specific CSS for your home-page
.cover {
  background-color: $orange;
  min-height: 100vh;
  height: 600px;
  width: 100%;
  text-align: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  .hero-text {
    width: 1000px;
    max-width: 1000px;
    padding-right: 550px;
  }
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 28px;
  }
}

.typed-js {
  min-height: 33.6px;
}

.home-flex-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 20px;
}

.home-text{
  margin: 20px;
}
