.inbox-background {
  background-color: $dark-blue;
  padding-top: 30px;

}

#inbox-card {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: $off-white;
  padding: 10px;
  padding-top: 16px;

  h2 {
    text-align: center;
    color: $gray;
  }

  h3 {
    color: $gray;
    font-weight: 300;
    font-size: 14px;
    padding-top: 7px;

  }

  .center {
    text-align: center;
  }

}

.card-product-inbox {
  overflow: hidden;
  height: auto;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 15px;
}

.inbox-img {
  height: auto;
  width: 120px;
  object-fit: cover;
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-infos {
  padding: 16px;
  margin-top: auto;
  margin-bottom: auto;
}
