<div class = "app-footer">
  <div class="mobile-footer mobile-footer-links" data-controller="mobile-navbar">
    <%= link_to "", projects_path, class: "mobile-footer-links fa-solid fa-house #{'active' if controller_name == 'projects' }", data:{action:"click->mobile-navbar#active"}%>
    <%= link_to "", calendar_path, class: "mobile-footer-links fa-solid fa-calendar-days #{'active' if params[:action] == 'calendar' }" %>
    <%# <i class="fa-solid fa-circle-plus plus fa-3x "></i> %>
    <div class = "fa-thin fa-plus fa-2x plus-sign"></div>
    <%= link_to "", inbox_path, class: "mobile-footer-links fa-solid fa-inbox" %>
    <%= link_to "", users_path, class: "mobile-footer-links fa-solid fa-user" %>
  </div>
</div>
