<div >
  <div class="mobile-footer mobile-footer-links">
    <%= link_to "", root_path, class: "mobile-footer-links fa-solid fa-house" %>
    <%= link_to "", users_path, class: "mobile-footer-links fa-solid fa-calendar-days" %>
    <i class="fa-solid fa-circle-plus plus fa-2x"></i>
    <%= link_to "", inbox_path, class: "mobile-footer-links fa-solid fa-inbox" %>
    <%= link_to "", users_path, class: "mobile-footer-links fa-solid fa-user" %>
  </div>
</div>

