<div class="calendar-container">
  <%= month_calendar(events: @projects, end_attribute: :end_time) do |date, projects| %>
    <%= date %>

    <% projects.each do |project| %>
      <%=  link_to project_path(project), style:"text-decoration:none !important" do %>
      <div class="meeting">
        <p><%= project.name %></p>
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>
