.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}


.swal-button {
  appearance: none;
  background-color: $orange;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 12px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.swal-button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.swal-button:hover {
  background-color: $orange;
}

.swal-button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.swal-button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.swal-button:active {
  background-color: $orange;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.swal-text {
  padding: 17px;
  display: block;
  margin: 22px;
  text-align: center;
  color: $off-white;
}


// .swal-title {
//   margin: 0px;
//   font-size: 16px;
//   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
//   margin-bottom: 28px;
// }


.swal-modal {
  background-color:$dark-blue;
  border: 3px solid white;
}

// .swal-overlay {
//   background-color: rgba(43, 165, 137, 0.45);
// }
