.logo {
  font-size: 18px;
  color: gray;
  font-weight: 900;
  border-bottom: 0.3px solid $gray;
  padding-bottom: 10px;
  padding-top: 10px;
  position: sticky;
  top: 0px;
  z-index: 1111;
  background-color: $off-white;

  h2::first-letter
  {
    color: orange;
  }

}
