svg {
  width: 114px;
  height: 114px;

}

.bg {
  fill: none;
  stroke-width: 10px;
  stroke: #1A2C34;
}

[class^="meter-"] {
  fill: none;
  stroke-width: 10px;
  stroke-linecap: round;

}

.meter-1 {
  stroke-dasharray: 360;

  stroke: #EC994B;
  animation: progress-1 1s ease-out;
}
