
  svg {
    width: 114px;
    height: 114px;

  }

  .bg {
    fill: none;
    stroke-width: 10px;
    stroke: #1A2C34;
  }

  [class^="meter-"] {
    fill: none;
    stroke-width: 10px;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke-dasharray 2s,

  }

  .meter-1 {
    stroke-dasharray: 360;

    stroke: #EC994B;

  }
