#subtaskcheckbox {
  padding: 10px;
  border-radius: 12px;
  #subtaskcheckbox::before {
    padding: 10px;
    border-radius: 12px;
  }

  input[type="checkbox"]::before {
      padding: 10px;
      border-radius: 12px;
  }
}


input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: #75787C;
  width: 2em;
  height: 2em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 1.2em;
  height: 1.2em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: #E29D59;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.form-control + .form-control {
  margin-top: 1em;
}
