#task {
  margin-bottom: 10px;
  position: relative;
  height: auto;

  i {
    font-size: 45px;
    padding-left: 5px;
    padding-top: 15px;
    padding-right: 5px;
    color: $orange;
  }

  #progress {
    position: absolute;
    top: 26px;
    left: 14px;
    font-size: 14px;
  }


.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  background-color: $orange;
  transition: width 0.6s ease;
  color: $orange;

}

.progress {
  height: 8px;
  width: 106px;
}

  #task-name {
    padding-left: 10px;
    font-size: 14px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


    #tasks-name {
        padding-left: 10px;
        font-size: 14px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #tasks-remaining {
      font-size: 12px;
      font-weight: 300;
    }
  }

  #priority {
    font-size: 10px;
    padding: 5px;
    padding-right: 20px;
    width: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .priority-sign{
    font-size: 10px;
    background-color: $dark-blue;
    color: $white;
    padding: 1px 8px 2px 8px;
    border-radius: 10px;
    max-width: 60px;
    text-align: center;
  }
}


.task-intros {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 5px 5px;
  border-bottom: 1px solid $gray;
  padding-bottom: 10px;
  color: $gray;
  padding-top: 10px;

  i {
    font-size: 20px;
    border-radius: 8px;
    padding: 5px;
    background-color: $gray;
    color: $off-white;
    text-align: center;
  }

  p {
    margin: 0px;
    font-size: 14px;
  }
}

.task-intro {
  display: flex;
  justify-content: start;
}

.description-project {
  padding-top: 10px;
  padding-bottom: 10px;

  p {
    margin: 0px;
    font-size: 14px;
    color: $gray;
  }

}

#task-page {
  color: $gray;
}

#tasks-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}


.subtask-intros {
  display: flex;
  // grid-template-columns: 33% 33% 33%;
  gap: 5px 5px;
  border-bottom: 1px solid $gray;
  padding-bottom: 10px;
  color: $gray;
  padding-top: 10px;
  justify-content: space-evenly;
  align-items: center;

  i {
    font-size: 20px;
    border-radius: 8px;
    padding: 5px;
    background-color: $gray;
    color: $off-white;
    text-align: center;
  }

  p {
    margin: 0px;
    font-size: 14px;
  }
}

.subtask-intro {
  display: flex;
  justify-content: middle;
}

.subtask-h1 {
  text-align: center;
}


.flex-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 12px;

}

.progress-bar-margin {
  margin: 10px;
  list-style: none;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

.due-date {
    padding: 10px;
    font-size: 14px;
}

.sticky-show-page {
  position: sticky;
  top: 66px;
  background-color: $off-white;

.completed {
  background-color: $orange;
  opacity: 0.5;
}
}
